<div class="form-group col-md-6 m-auto">
    <input 
    [(ngModel)]="myperson.firstname"
    type="text" class="form-control mt-2" placeholder="firstname">
    <input 
    [(ngModel)]="myperson.lastname"
    type="text" class="form-control mt-2" placeholder="lastname">
    <input 
    [(ngModel)]="myperson.img"
    type="text" class="form-control mt-2" placeholder="img">
    <select
    [(ngModel)]="myperson.gender"
      class="form-select mt-2" name="" id="">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <button (click)="onSaveClick()" class="col-md-4 d-block m-auto mt-2 btn btn-dark">save</button>
  </div>

